div#navbar-offset {
    height: 50px;
}

div#content {
    margin: 50px auto;
}

div#content > div:nth-child(2) {
    padding: 3%;
}

div.slider {
    margin: 30px 0;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color: orange;
}

.invest-area {
    background-color: #39A1EA;
    margin: 5px 0 0 0;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-size: 120%;
    cursor: pointer;
}

.index-cover {
    background-image: url(../img/Financial.jpg);
}

div#home-invest-panel, div#home-borrow-panel {
    cursor: pointer;
}

div#home-invest-panel > div > div:nth-child(2) {
    background-image: url(../img/invest.jpg);
    background-size: cover;
    height: 250px;
}

div#home-borrow-panel > div > div:nth-child(2) {
    background-image: url(../img/borrow.jpg);
    background-size: cover;
    height: 250px;
}

img.sample-image {
    max-width: 570px;
}

div.head-photo {
    background-image: url(../img/greg_head.png);
    background-size: cover;
    height: 150px;
}

.font-size-larger {
    font-size: 150%;
}

div.panel-footer u {
    color: blue;
}

div.panel-footer pre {
    border: none;
    padding: 0;
    margin: 0;
}